Repository Tuee22/MCTS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-safety, black, mypy-strict, check-yaml

.pre-commit-config.yaml:

# Pre-commit hooks for MCTS project
# Install with: pip install pre-commit && pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Type safety check - MUST be first to catch violations early
      - id: check-type-safety
        name: Type Safety Check
        entry: poetry run check-type-safety
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit, push]
        
      # Black formatting
      - id: black
        name: Black Code Formatting
        entry: poetry run black
        language: system
        types: [python]
        args: ["--check", "--diff"]
        
      # MyPy strict type checking
      - id: mypy-strict
        name: MyPy Strict Type Check
        entry: poetry run mypy
        language: system
        types: [python]
        args: ["--strict", "."]
        pass_filenames: false
        
      # Prevent common issues
      - id: check-added-large-files
        name: Check for Large Files
        entry: check-added-large-files
        language: python
        
      - id: check-yaml
        name: Check YAML Syntax
        entry: check-yaml
        language: python
        types: [yaml]
        
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: python
        types: [text]

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-json
      - id: trailing-whitespace
      - id: end-of-file-fixer

addded new frontend tests
  backend/api/server.py
  stubs/unittest/mock.pyi
  tests/backend/api/test_connection_states.py
  tests/backend/api/test_race_conditions.py
  tests/backend/api/test_websocket_state_sync.py
Due: check-type-safety, black, mypy-strict

addded new frontend tests
  frontend/src/utils/settingsVisibility.ts
  frontend/tests/components/GameSettings.test.tsx
  frontend/tests/components/GameSettings.visibility.test.tsx
  tests/backend/api/test_api_integration.py
  tests/backend/test_api_integration.py
  tests/e2e/test_race_conditions.py
Due: check-type-safety, black, mypy-strict

addded new frontend tests
  frontend/tests/components/GameSettings.race.test.tsx
  frontend/tests/store/gameStore.race.test.ts
  stubs/playwright/async_api.pyi
  tests/e2e/test_component_race_conditions.py
  tests/e2e/test_settings_button_timing.py
  tests/integration/test_frontend_backend_integration.py
  tests/integration/test_websocket_race_conditions.py
Due: check-type-safety, black, mypy-strict

addded new frontend tests
  frontend/debug-test.tsx
  frontend/tests/components/StartingButtonRace.test.tsx
  frontend/tests/debug.test.tsx
  stubs/playwright/async_api.pyi
  test_race_condition_validation_report.md
  tests/e2e/test_starting_button_race_aggressive.py
Due: check-type-safety, black, mypy-strict

addded new frontend tests
  backend/api/server.py
  backend/api/websocket_unified.py
  frontend/setupTests.ts
  frontend/src/components/GameSettings.tsx
  frontend/src/components/GameSettingsPanel.tsx
  frontend/src/services/websocket.ts
  frontend/src/store/gameStore.ts
  frontend/tests/components/App.recovery.test.tsx
  frontend/tests/components/GameSettings.connection.test.tsx
  frontend/tests/components/GameSettings.race.test.tsx
  frontend/tests/components/GameSettings.test.tsx
  frontend/tests/components/GameSettings.visibility.test.tsx
  frontend/tests/components/StartingButtonRace.test.tsx
  frontend/tests/debug.test.tsx
  frontend/tests/services/websocket.connection.test.ts
  frontend/tests/services/websocket.enhanced.test.ts
  frontend/tests/store/gameStore.persistence.test.ts
  frontend/tests/store/gameStore.race.test.ts
  frontend/tests/store/gameStore.resetChain.test.ts
  frontend/tests/utils/browserEdgeCases.test.ts
  frontend/vitest.config.mjs
  frontend/vitest.config.ts
  stubs/playwright/async_api.pyi
  tests/e2e/test_board_interactions.py
  tests/e2e/test_complete_gameplay.py
  tests/integration/test_frontend_backend_integration.py
  tests/integration/test_websocket_race_conditions.py
  tests/utils/run_unified_tests.py
Due: check-type-safety, black, mypy-strict

mypy cleanup
  backend/api/pure_utils.py
  backend/api/server.py
  backend/api/websocket_unified.py
  tests/backend/api/test_button_state_logic.py
  tests/backend/api/test_game_state_transitions.py
  tests/backend/api/test_navigation_state_preservation.py
  tests/e2e/test_component_race_conditions.py
  tests/e2e/test_settings_button_timing.py
  tests/integration/test_connection_flow.py
  tests/shared/api_test_helpers.py
  tests/shared/fixtures_factory.py
Due: check-type-safety, black, mypy-strict

deleted .claude folder
  .claude/AGENTS.md
  .claude/README.md
  .claude/agents.json
  .claude/agents/builder-cpu.md
  .claude/agents/builder-docker.md
  .claude/agents/builder-gpu.md
  .claude/agents/code-reviewer.md
  .claude/agents/doc-consistency-checker.md
  .claude/agents/formatter-black.md
  .claude/agents/mypy-type-checker.md
  .claude/agents/no-git-commits.md
  .claude/agents/test-writer.md
  .claude/agents/tester-unified.md
  .claude/hooks/cleanup-temp-files.py
  .claude/hooks/debug-git-guard.py
  .claude/hooks/doc-check-hook.py
  .claude/hooks/doc-checker.py
  .claude/hooks/git-commit-guard.py
  .claude/hooks/quality-gate.py
  .claude/hooks/test-enhanced-git-guard.py
  .claude/hooks/test-git-guard.py
  .claude/hooks/test-guard.py
  .claude/settings.json
Due: check-type-safety, black, mypy-strict

set up e2e and frontend tests as source of truth
  frontend/src/components/GameSettings.tsx
  frontend/src/utils/settingsVisibility.ts
  frontend/tests/components/GameSettings.alwaysToggle.test.tsx
  frontend/tests/components/GameSettings.connection.test.tsx
  frontend/tests/integration/navigation.test.tsx
  frontend/tests/utils/settingsVisibility.test.ts
  stubs/_pytest/config.pyi
  stubs/_pytest/fixtures.pyi
  stubs/_pytest/hookspec.pyi
  stubs/pytest.pyi
  tests/backend/api/test_cleanup_logic.py
  tests/backend/api/test_game_activity.py
Due: check-type-safety, black, mypy-strict

frontend components now matching frontend tests
  frontend/src/App.tsx
  frontend/src/components/GameSettings.tsx
Due: none

adjusted e2e tests
  stubs/playwright/async_api.pyi
  tests/e2e/e2e_helpers.py
  tests/e2e/test_debug_ui.py
  tests/e2e/test_simple_board_test.py
Due: check-type-safety, black, mypy-strict

refactored e2e tests
  pyproject.toml
  stubs/pytest_timeout/__init__.pyi
  stubs/pytest_xdist/__init__.pyi
  stubs/test_infrastructure/__init__.pyi
  stubs/test_infrastructure/fixtures.pyi
  stubs/test_infrastructure/helpers.pyi
  tests/e2e/conftest.py
  tests/e2e/e2e_helpers.py
  tests/e2e/test_browser_compatibility.py
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_component_race_conditions.py
  tests/e2e/test_game_creation_disconnection_bug.py
  tests/e2e/test_infrastructure.py
  tests/e2e/test_network_interruptions.py
  tests/e2e/test_page_refresh_scenarios.py
  tests/e2e/test_race_conditions.py
  tests/e2e/test_settings_button_timing.py
  tests/utils/run_e2e_with_servers.py
  tests/utils/run_unified_tests.py
  tests/utils/subset_runners.py
Due: check-type-safety, black, mypy-strict

code quality review
  backend/api/game_manager.py
  backend/api/pure_utils.py
  backend/api/server.py
  backend/api/websocket_manager.py
  backend/api/websocket_unified.py
  backend/python/corridors/__init__.pyi
  tests/e2e/conftest.py
  tests/e2e/test_browser_compatibility.py
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_component_race_conditions.py
  tests/e2e/test_debug_ui.py
  tests/e2e/test_game_creation_disconnection_bug.py
  tests/e2e/test_network_interruptions.py
  tests/e2e/test_page_refresh_scenarios.py
  tests/e2e/test_race_conditions.py
  tests/e2e/test_settings_button_timing.py
  tests/e2e/test_simple_board_test.py
  tests/models/__init__.py
  tests/shared/api_test_helpers.py
Due: check-type-safety, black, mypy-strict

code quality review
  backend/api/game_manager.py
  backend/api/server.py
  tests/backend/api/conftest.py
  tests/backend/api/test_api_integration.py
  tests/backend/api/test_cleanup_functionality.py
  tests/backend/api/test_cleanup_logic.py
  tests/backend/api/test_error_paths.py
  tests/backend/api/test_websocket_advanced.py
  tests/backend/core/test_cpp_board_functions.py
  tests/backend/core/test_edge_cases.py
  tests/backend/core/test_python_functions.py
  tests/benchmarks/test_benchmarks.py
  tests/e2e/conftest.py
  tests/e2e/migrate_tests.py
  tests/integration/conftest.py
  tests/integration/test_connection_flow.py
  tests/integration/test_cors_configuration.py
  tests/shared/api_test_helpers.py
  tests/utils/run_unified_tests.py
Due: check-type-safety, black, mypy-strict

test cleanup
  tests/e2e/test_component_race_conditions.py
  tests/e2e/test_settings_button_timing.py
  tests/integration/test_connection_flow.py
  tests/integration/test_state_sync.py
  tests/integration/test_websocket_race_conditions.py
  tests/test_utilities/test_test_subsets.py
Due: check-type-safety, black, mypy-strict

test cleanup
  .dockerignore
  .gitignore
  stubs/fastapi/websockets.pyi
  stubs/playwright/_impl/__init__.pyi
  stubs/playwright/_impl/_errors.pyi
  stubs/pytest.pyi
  stubs/pytest_xdist/__init__.pyi
  stubs/requests/__init__.pyi
  stubs/requests/exceptions.pyi
  stubs/starlette/websockets.pyi
  stubs/test_infrastructure/helpers.pyi
  stubs/websockets/exceptions.pyi
  tests/backend/api/test_dns_error_handling.py
  tests/benchmarks/test_benchmarks.py
  tests/e2e/conftest.py
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_infrastructure.py
  tests/e2e/test_network_failures.py
  tests/integration/conftest.py
  tests/integration/test_frontend_backend_integration.py
  tests/integration/test_navigation_interruption.py
  tests/integration/test_websocket_race_conditions.py
  tests/test_utilities/test_run_unified_tests.py
  tests/utils/run_e2e_tests.py
  tests/utils/run_unified_tests.py
Due: check-type-safety, black, mypy-strict

import fix
  stubs/pytest_xdist/__init__.pyi
  tests/integration/test_frontend_backend_integration.py
Due: check-type-safety, black, mypy-strict

refactored frontend/backend handoff to be more functional
  backend/api/connection_states.py
  backend/api/resource_manager.py
  frontend/src/App.tsx
  frontend/src/components/GameSettings.tsx
  frontend/src/components/NewGameButton.tsx
  frontend/src/store/gameStore.ts
  frontend/src/store/stateTransitions.ts
  frontend/src/types/appState.ts
  frontend/tests/store/stateTransitions.test.ts
  tests/backend/test_connection_states.py
Due: check-type-safety, black, mypy-strict

working on getting e2e tests working; about to do claude cleanup
  frontend/src/App.tsx
  frontend/src/services/tabManager.ts
  frontend/src/store/gameStore.ts
  frontend/src/store/stateTransitions.ts
  frontend/tests/components/App.recovery.test.tsx
  frontend/tests/components/GameSettings.e2e-alignment.test.tsx
  frontend/tests/components/StartingButtonRace.test.tsx
  frontend/tests/integration/connection-state-e2e-mirror.test.tsx
  frontend/tests/integration/e2e-alignment.test.tsx
  frontend/tests/services/tabManager.test.ts
  frontend/tests/store/gameStore.persistence.test.ts
  frontend/tests/store/gameStore.race.test.ts
  frontend/tests/store/gameStore.reset.test.ts
  frontend/tests/store/gameStore.resetChain.test.ts
  frontend/tests/test-utils/store-factory.ts
  tests/backend/api/test_api_response_consistency.py
  tests/e2e/test_browser_navigation.py
Due: check-type-safety, black, mypy-strict

claude cleanup
  .dockerignore
  .editorconfig
  .githooks/pre-commit
  .github/workflows/encoding-check.yml
  .sanitizeignore
  CLAUDE.md
  README.md
  docs/ai-usage.md
  package.json
  tools/payload-guard.js
  tools/run-tests.js
  tools/sanitize.js
  tools/string-utils.js
  tools/string_utils.py
  tools/test-fixtures/clean-test.txt
  tools/test-fixtures/surrogate-test.js
  tools/verify-setup.js
Due: check-type-safety, black, mypy-strict, check-yaml

working on e2e and frontend tests
  frontend/src/store/stateTransitions.ts
  frontend/tests/integration/multi-tab-e2e-mirror.test.tsx
  frontend/tests/integration/race-conditions-e2e-mirror.test.tsx
  tests/e2e/e2e_helpers.py
  tests/e2e/test_browser_compatibility.py
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_component_race_conditions.py
  tests/e2e/test_game_creation_disconnection_bug.py
  tests/e2e/test_network_interruptions.py
  tests/e2e/test_page_refresh_scenarios.py
  tests/e2e/test_race_conditions.py
  tools/string_utils.py
Due: check-type-safety, black, mypy-strict

fixing git actions; working on e2e tets
  .dockerignore
  .gitignore
  .vscode/settings.json
  backend/api/models.py
  backend/api/server.py
  frontend/src/App.tsx
  frontend/src/components/NewGameButton.tsx
  frontend/src/services/functionalTabCoordinator.ts
  frontend/src/store/stateTransitions.ts
  frontend/src/types/appState.ts
  frontend/tests/components/GameSettings.e2e-alignment.test.tsx
  frontend/tests/components/NewGameButton.flow.test.tsx
  frontend/tests/integration/connection-state-e2e-mirror.test.tsx
  frontend/tests/store/gameStore.resetChain.test.ts
  frontend/tests/test-utils/mockStore.ts
  frontend/tests/test-utils/store-factory.ts
Due: check-type-safety, black, mypy-strict

.ts corrections
  frontend/src/App.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameSettings.tsx
  frontend/src/components/MoveHistory.tsx
  frontend/src/services/functionalTabCoordinator.ts
  frontend/src/services/websocket.ts
  frontend/src/store/gameStore.ts
  frontend/src/store/stateTransitions.ts
Due: none

functional refactoring continuing
  backend/api/models.py
  backend/api/state_types.py
  frontend/src/components/GameSettings.tsx
  frontend/src/components/GameSettingsPanel.tsx
  frontend/src/store/gameStore.ts
  frontend/src/store/stateTransitions.ts
  frontend/src/types/appState.ts
  frontend/tests/components/App.recovery.test.tsx
  frontend/tests/components/App.state.test.tsx
  frontend/tests/components/App.test.tsx
  frontend/tests/components/GameBoard.test.tsx
  frontend/tests/components/GameSettings.alwaysToggle.test.tsx
  frontend/tests/components/GameSettings.connection.test.tsx
  frontend/tests/components/GameSettings.race.test.tsx
  frontend/tests/components/GameSettings.visibility.test.tsx
  frontend/tests/components/MoveHistory.test.tsx
  frontend/tests/components/NewGameButton.test.tsx
  frontend/tests/components/StartingButtonRace.test.tsx
  frontend/tests/services/websocket.test.ts
  frontend/tests/store/gameStore.persistence.test.ts
  frontend/tests/store/gameStore.race.test.ts
  frontend/tests/store/gameStore.reset.test.ts
  frontend/tests/store/gameStore.resetChain.test.ts
  frontend/tests/store/stateTransitions.test.ts
  frontend/tests/test-utils.tsx
  frontend/tests/test-utils/mockStore.ts
  frontend/tests/test-utils/store-factory.ts
Due: check-type-safety, black, mypy-strict

400 error problem back
  backend/api/state_types.py
  frontend/src/App.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameSettings.tsx
  frontend/src/components/MoveHistory.tsx
  frontend/tests/components/GameBoard.test.tsx
  frontend/tests/store/gameStore.persistence.test.ts
Due: check-type-safety, black, mypy-strict

Fix 400 errors and remove encoding check workflow
  .githooks/pre-commit
  .github/workflows/encoding-check.yml
  .sanitizeignore
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/services/websocket.ts
  frontend/src/types/appState.ts
  package.json
  tools/sanitize.js
Due: check-yaml

test refactor in progress
  .githooks/pre-commit
  .github/workflows/encoding-check.yml
  .sanitizeignore
  CLAUDE.md
  README.md
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/services/websocket.ts
  frontend/src/types/appState.ts
  frontend/tests/components/App.recovery.test.tsx
  frontend/tests/components/App.state.test.tsx
  frontend/tests/components/App.test.tsx
  frontend/tests/components/GameBoard.test.tsx
  frontend/tests/components/GameSettings.alwaysToggle.test.tsx
  frontend/tests/components/GameSettings.connection.test.tsx
  frontend/tests/components/GameSettings.e2e-alignment.test.tsx
  frontend/tests/components/GameSettings.race.test.tsx
  frontend/tests/components/GameSettings.test.tsx
  frontend/tests/components/GameSettings.visibility.test.tsx
  frontend/tests/components/MoveHistory.test.tsx
  frontend/tests/components/NewGameButton.flow.test.tsx
  frontend/tests/components/NewGameButton.test.tsx
  frontend/tests/components/StartingButtonRace.test.tsx
  frontend/tests/integration/connection-state-e2e-mirror.test.tsx
  frontend/tests/integration/e2e-alignment.test.tsx
  frontend/tests/integration/multi-tab-e2e-mirror.test.tsx
  frontend/tests/integration/navigation.test.tsx
  frontend/tests/integration/race-conditions-e2e-mirror.test.tsx
  frontend/tests/services/websocket.enhanced.test.ts
  frontend/tests/services/websocket.test.ts
  frontend/tests/store/gameStore.race.test.ts
  frontend/tests/store/gameStore.test.ts
  frontend/tests/store/stateTransitions.test.ts
  frontend/tests/test-utils/mockStore.ts
  frontend/tests/utils/settingsVisibility.test.ts
  package.json
  tests/integration/test_cors_configuration.py
  tools/sanitize.js
Due: check-type-safety, black, mypy-strict, check-yaml

frontend build issues resolved
  frontend/src/App.tsx
  frontend/src/types/appState.ts
Due: none

fixed e2e tests
  frontend/tests/components/App.state.test.tsx
  frontend/tests/components/App.test.tsx
  frontend/tests/components/GameSettings.connection.test.tsx
  frontend/tests/components/GameSettings.e2e-alignment.test.tsx
  frontend/tests/components/GameSettings.race.test.tsx
  frontend/tests/components/GameSettings.visibility.test.tsx
  frontend/tests/components/NewGameButton.flow.test.tsx
  frontend/tests/components/NewGameButton.test.tsx
  frontend/tests/components/StartingButtonRace.test.tsx
  frontend/tests/integration/connection-state-e2e-mirror.test.tsx
  frontend/tests/integration/e2e-alignment.test.tsx
  frontend/tests/integration/multi-tab-e2e-mirror.test.tsx
  frontend/tests/integration/navigation.test.tsx
  frontend/tests/integration/race-conditions-e2e-mirror.test.tsx
  frontend/tests/services/tabManager.test.ts
  frontend/tests/test-utils/mockStore.ts
  frontend/tests/utils/settingsVisibility.test.ts
  tests/e2e/e2e_helpers.py
  tests/e2e/test_board_interactions.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_component_race_conditions.py
  tests/e2e/test_network_failures.py
  tests/e2e/test_page_refresh_scenarios.py
  tests/e2e/test_race_conditions.py
  tests/e2e/test_settings_button_timing.py
  tests/e2e/test_starting_button_race_aggressive.py
Due: check-type-safety, black, mypy-strict

documentation cleanup
  README.md
  REFACTOR_STATUS.md
  backend/api/README.md
  test_race_condition_validation_report.md
  tests/README.md
  tests/e2e/MIGRATION_GUIDE.md
Due: none

mypy cleanup
  .gitignore
  CLAUDE.md
  docker/Dockerfile
  frontend/package.json
  pyproject.toml
  stubs/playwright/async_api.pyi
  tests/e2e/test_board_interactions.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_network_failures.py
  tests/e2e/test_page_refresh_scenarios.py
  tests/e2e/test_settings_button_timing.py
  tools/frontend_build.py
Due: check-type-safety, black, mypy-strict

Dockerfile cleanup
  CLAUDE.md
  docker/Dockerfile
  pyproject.toml
  stubs/argparse.pyi
  tests/utils/test_runner.py
  tools/backend_build.py
  tools/frontend_build.py
Due: check-type-safety, black, mypy-strict

fixing e2e tests
  frontend/src/App.tsx
  frontend/src/components/GameSettings.css
  frontend/src/services/websocket.ts
  tests/e2e/test_board_interactions.py
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_debug_ui.py
  tests/e2e/test_network_failures.py
  tests/e2e/test_simple_board_test.py
Due: check-type-safety, black, mypy-strict

fixing e2e tests
  frontend/src/App.tsx
  frontend/src/services/websocket.ts
  frontend/tests/services/websocket.enhanced.test.ts
  tests/e2e/test_browser_navigation.py
Due: check-type-safety, black, mypy-strict

fixing e2e tests
  frontend/tests/services/websocket.connection.test.ts
Due: none

fixing e2e tests
  CLAUDE.md
  pyproject.toml
  stubs/subprocess.pyi
  tests/e2e/test_browser_navigation.py
  tests/utils/e2e_test_runner.py
Due: check-type-safety, black, mypy-strict

fixing e2e tests
  stubs/playwright/async_api.pyi
  tests/e2e/async_fixtures.py
  tests/e2e/test_network_failures.py
  tests/e2e/test_race_conditions.py
Due: check-type-safety, black, mypy-strict

fixing e2e tests
  frontend/tests/test-utils/mockStore.ts
  tests/e2e/e2e_helpers.py
  tests/e2e/test_board_interactions.py
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_page_refresh_scenarios.py
  tests/e2e/test_race_conditions.py
Due: check-type-safety, black, mypy-strict

fixing e2e tests
  tests/e2e/async_fixtures.py
  tests/e2e/e2e_helpers.py
  tests/e2e/test_settings_button_timing.py
  tests/utils/subset_runners.py
Due: check-type-safety, black, mypy-strict

cleaning e2e tests
  stubs/test_infrastructure/__init__.pyi
  stubs/test_infrastructure/fixtures.pyi
  tests/e2e/conftest.py
  tests/e2e/test_infrastructure.py
  tests/utils/e2e_test_runner.py
  tests/utils/subset_runners.py
Due: check-type-safety, black, mypy-strict
