Repository Tuee22/MCTS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-safety, black, mypy-strict, check-yaml

.pre-commit-config.yaml:

# Pre-commit hooks for MCTS project
# Install with: pip install pre-commit && pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Type safety check - MUST be first to catch violations early
      - id: check-type-safety
        name: Type Safety Check
        entry: poetry run check-type-safety
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit, push]
        
      # Black formatting
      - id: black
        name: Black Code Formatting
        entry: poetry run black
        language: system
        types: [python]
        args: ["--check", "--diff"]
        
      # MyPy strict type checking
      - id: mypy-strict
        name: MyPy Strict Type Check
        entry: poetry run mypy
        language: system
        types: [python]
        args: ["--strict", "."]
        pass_filenames: false
        
      # Prevent common issues
      - id: check-added-large-files
        name: Check for Large Files
        entry: check-added-large-files
        language: python
        
      - id: check-yaml
        name: Check YAML Syntax
        entry: check-yaml
        language: python
        types: [yaml]
        
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: python
        types: [text]

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-json
      - id: trailing-whitespace
      - id: end-of-file-fixer

cleaned up build process
  docker/Dockerfile
  docker/docker-compose.yaml
  tests/integration/test_network_failures.py
Due: check-type-safety, black, mypy-strict, check-yaml

now ignoring build generated .py files
  .mypyignore
  pyproject.toml
Due: none

fixed github actions
  .github/workflows/type-safety.yml
  .pre-commit-config.yaml
Due: check-yaml

fix: remove redundant type safety verification step that was causing false failures
  .github/workflows/type-safety.yml
Due: check-yaml

simplify type safety workflow: remove all testing, keep only type safety check and mypy
  .github/workflows/type-safety.yml
Due: check-yaml

test: trigger workflow to verify it's working correctly
  README.md
Due: none

fixed multiarch build issues
  MULTI_ARCH_PLAYWRIGHT_SOLUTION.md
  docker/Dockerfile
  docker/entrypoint.sh
  scripts/test-multi-arch.sh
  tests/e2e/conftest.py
  tests/e2e/playwright.config.py
Due: check-type-safety, black, mypy-strict

fixed lingering buildx issues
  .claude/agents/builder-cpu.md
  .claude/agents/builder-docker.md
  README.md
Due: none

small Dockerfile cleanup
  docker/Dockerfile
Due: none

fully cleaned & removed .flake8
  .claude/hooks/cleanup-temp-files.py
  .claude/settings.json
  .dockerignore
  .flake8
  .gitignore
  README.md
  tools/run_type_checks.sh
Due: check-type-safety, black, mypy-strict

removed stop hook
  .claude/settings.json
Due: none

still fixing multi-arch build
  docker/Dockerfile
  docker/entrypoint.sh
Due: none

multi arch
  docker/Dockerfile
  docker/entrypoint.sh
Due: none

fixed circular import
  backend/python/corridors/corridors_mcts.py
Due: check-type-safety, black, mypy-strict

mypy fixes to extension loading
  backend/python/corridors/corridors_mcts.py
Due: check-type-safety, black, mypy-strict

Fix cross-architecture .so file handling and container crashes
  docker/Dockerfile
  docker/entrypoint.sh
Due: none

multi arch build fix; git commit guard fix
  .claude/hooks/debug-git-guard.py
  .claude/hooks/git-commit-guard.py
  .claude/hooks/test-enhanced-git-guard.py
  .claude/hooks/test-git-guard.py
  docker/Dockerfile
  docker/entrypoint.sh
Due: check-type-safety, black, mypy-strict

black
  .claude/hooks/debug-git-guard.py
  .claude/hooks/git-commit-guard.py
  .claude/hooks/test-enhanced-git-guard.py
  .claude/hooks/test-git-guard.py
Due: check-type-safety, black, mypy-strict

switched to jit model
  CLAUDE.md
  backend/utils/__init__.py
  backend/utils/backend_builder.py
  backend/utils/entrypoint.py
  backend/utils/frontend_builder.py
  backend/utils/types.py
  docker/Dockerfile
  docker/entrypoint.sh
  pyproject.toml
  scripts/test-multi-arch.sh
  stubs/click.pyi
  stubs/playwright/__init__.pyi
  stubs/playwright/async_api.pyi
  stubs/pytest_asyncio.pyi
  stubs/websockets/__init__.pyi
  stubs/websockets/client.pyi
  tests/e2e/async_fixtures.py
  tests/e2e/playwright.config.py
  tests/e2e/test_browser_compatibility.py
  tests/e2e/test_connection_scenarios.py
  tests/e2e/test_connection_scenarios_fixed.py
  tests/e2e/test_working_connection.py
  tests/test_utilities/test_run_unified_tests.py
  tests/test_utilities/test_test_subsets.py
  tests/utils/stability_helpers.py
Due: check-type-safety, black, mypy-strict

fixed circular import
  .github/workflows/type-safety.yml
  backend/utils/backend_builder.py
  backend/utils/entrypoint.py
Due: check-type-safety, black, mypy-strict, check-yaml

eliminated jit
  backend/api/server.py
  backend/utils/__init__.py
  backend/utils/backend_builder.py
  backend/utils/entrypoint.py
  backend/utils/frontend_builder.py
  backend/utils/types.py
  docker/Dockerfile
  docker/docker-compose.yaml
  pyproject.toml
Due: check-type-safety, black, mypy-strict, check-yaml

fixed test failures
  docker/Dockerfile
  docker/docker-compose.yaml
Due: check-yaml

removed scons from apt
  docker/Dockerfile
Due: none

added failing e2e tests
  tests/e2e/test_board_interactions.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_game_creation_disconnection_bug.py
Due: check-type-safety, black, mypy-strict

fixed e2e tests
  .gitignore
  frontend/src/components/GameSettings.tsx
  frontend/src/services/websocket.ts
  tests/e2e/conftest.py
  tests/e2e/test_board_interactions.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_game_creation_disconnection_bug.py
Due: check-type-safety, black, mypy-strict

removed jest completely; vitest alone now
  MULTI_ARCH_PLAYWRIGHT_SOLUTION.md
  frontend/package.json
  frontend/src/components/GameBoard.tsx
  frontend/src/services/websocket.ts
  tests/frontend/components/GameSettings.test.tsx
  tests/frontend/e2e-integration.test.jsx
  tests/frontend/e2e/game-e2e.test.tsx
  tests/frontend/integration-tests.test.js
  tests/frontend/integration-tests.test.jsx
  tests/frontend/integration/component-interactions.test.tsx
  tests/frontend/integration/game-flow.test.tsx
  tests/frontend/package.json
  tests/frontend/services/websocket.test.ts
  tests/frontend/setupTests.ts
  tests/frontend/smoke-test.test.js
  tests/frontend/smoke-test.test.jsx
  tests/frontend/store/gameStore.test.ts
  tests/frontend/utils/test-utils.tsx
  tests/frontend/vitest.config.ts
  tests/utils/run_frontend_tests.py
Due: check-type-safety, black, mypy-strict

test cleanup
  docker/Dockerfile
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/services/websocket.ts
  tests/frontend/package.json
Due: none

Fix Docker build: use npm install instead of npm ci
  docker/Dockerfile
Due: none

frontend test refactor
  .claude/agents.json
  docker/Dockerfile
  docker/docker-compose.yaml
  frontend/src/setupTests.ts
  pyproject.toml
  tests/frontend/basic.test.ts
  tests/frontend/components/App.test.tsx
  tests/frontend/components/GameBoard.test.tsx
  tests/frontend/components/GameSettings.test.tsx
  tests/frontend/components/MoveHistory.test.tsx
  tests/frontend/core-smoke-test.test.js
  tests/frontend/e2e-integration.test.jsx
  tests/frontend/e2e/game-e2e.test.tsx
  tests/frontend/fixtures/gameSettings.ts
  tests/frontend/fixtures/gameState.ts
  tests/frontend/fixtures/mocks.ts
  tests/frontend/integration-tests.test.jsx
  tests/frontend/integration/component-interactions.test.tsx
  tests/frontend/integration/game-flow.test.tsx
  tests/frontend/mocks/fileMock.js
  tests/frontend/mocks/websocket.mock.ts
  tests/frontend/mocks/zustand.mock.ts
  tests/frontend/package.json
  tests/frontend/services/websocket.test.ts
  tests/frontend/setup/basic-setup.test.ts
  tests/frontend/setup/setupTests.ts
  tests/frontend/setupTests.ts
  tests/frontend/smoke-test.test.jsx
  tests/frontend/store/gameStore.test.ts
  tests/frontend/utils/browserEdgeCases.test.ts
  tests/frontend/utils/performanceEdgeCases.test.tsx
  tests/frontend/utils/reactEdgeCases.test.tsx
  tests/frontend/utils/test-utils.tsx
  tests/frontend/utils/testHelpers.ts
  tests/frontend/vitest.config.ts
  tests/utils/run_frontend_tests.py
  tests/utils/run_unified_tests.py
Due: check-type-safety, black, mypy-strict, check-yaml

mock refactor; resource limit errors
  frontend/package.json
  tests/frontend/components/App.test.tsx
  tests/frontend/components/GameBoard.test.tsx
  tests/frontend/components/GameSettings.test.tsx
  tests/frontend/components/MoveHistory.test.tsx
  tests/frontend/utils/testHelpers.ts
  tests/frontend/vitest.config.ts
  tests/utils/run_unified_tests.py
Due: check-type-safety, black, mypy-strict

removing core files from repo
  .dockerignore
  .gitignore
Due: none

refactored mocks for frontend tests
  .dockerignore
  docker/Dockerfile
  frontend/basic.test.ts
  frontend/components/App.test.tsx
  frontend/components/GameBoard.test.tsx
  frontend/components/GameSettings.test.tsx
  frontend/components/MoveHistory.test.tsx
  frontend/fixtures/gameSettings.ts
  frontend/fixtures/gameState.ts
  frontend/fixtures/mocks.ts
  frontend/package.json
  frontend/services/websocket.test.ts
  frontend/setup/basic-setup.test.ts
  frontend/setup/setupTests.ts
  frontend/setup/vitest.setup.ts
  frontend/src/store/gameStore.ts
  frontend/store/gameStore.test.ts
  frontend/utils/browserEdgeCases.test.ts
  frontend/utils/performanceEdgeCases.test.tsx
  frontend/utils/reactEdgeCases.test.tsx
  frontend/utils/testHelpers.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
  tests/frontend/package.json
  tests/frontend/setup/vitest.setup.ts
  tests/frontend/vitest.config.ts
  vitest.config.ts
Due: none

testing stack cleanup
  .dockerignore
  .gitignore
  CLAUDE.md
  docker/Dockerfile
  frontend/npm-global-packages.json
  frontend/package.json
  frontend/setup/setupTests.ts
  frontend/src/setupTests.ts
  frontend/vitest.config.ts
Due: none

added proper semantic versioning for npm packages
  docker/Dockerfile
  frontend/npm-global-packages.json
Due: none

cleaned up frontend
  docker/Dockerfile
  frontend/package.json
  frontend/services/websocket.test.ts
  frontend/setup/setupTests.ts
  frontend/setup/vitest.setup.ts
  frontend/src/setupTests.ts
  frontend/utils/testHelpers.ts
  frontend/vitest.setup.ts
Due: none

character correction
  docker/Dockerfile
Due: none

ongoing frontend cleanup
  .claude/agents/tester-unified.md
  frontend/vitest.setup.ts
  tests/frontend/components/GameSettings.test.tsx
  tests/frontend/fixtures/mocks.ts
  tests/frontend/package.json
  tests/frontend/services/websocket.test.ts
  tests/frontend/setup/setupTests.ts
  tests/frontend/setup/vitest.setup.ts
Due: none

frontend test refactor
  frontend/components/GameSettings.test.tsx
  frontend/services/websocket.test.ts
  frontend/setup/basic-setup.test.ts
  frontend/setupTests.ts
  frontend/src/App.tsx
  frontend/tests/components/App.test.tsx
  frontend/tests/components/GameBoard.test.tsx
  frontend/tests/components/GameSettings.test.tsx
  frontend/tests/components/MoveHistory.test.tsx
  frontend/tests/fixtures/gameSettings.ts
  frontend/tests/fixtures/gameState.ts
  frontend/tests/fixtures/mocks.ts
  frontend/tests/services/websocket.test.ts
  frontend/tests/setup/basic.test.ts
  frontend/tests/setup/setupTests.ts
  frontend/tests/store/gameStore.test.ts
  frontend/tests/utils/browserEdgeCases.test.ts
  frontend/tests/utils/performanceEdgeCases.test.tsx
  frontend/tests/utils/reactEdgeCases.test.tsx
  frontend/tests/utils/testHelpers.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
  tests/frontend/components/App.test.tsx
  tests/frontend/components/GameBoard.test.tsx
  tests/frontend/components/MoveHistory.test.tsx
  tests/frontend/package.json
  tests/frontend/services/websocket.test.ts
  tests/frontend/setup/basic-setup.test.ts
  tests/frontend/store/gameStore.test.ts
  tests/frontend/utils/browserEdgeCases.test.ts
  tests/frontend/utils/performanceEdgeCases.test.tsx
  tests/frontend/utils/reactEdgeCases.test.tsx
  tests/frontend/vitest.config.ts
  tests/utils/run_frontend_tests.py
  tests/utils/run_unified_tests.py
Due: check-type-safety, black, mypy-strict

frontend test refactor
  frontend/setupTests.ts
  frontend/tests/components/App.test.tsx
  frontend/tests/components/GameBoard.test.tsx
  frontend/tests/components/MoveHistory.test.tsx
  frontend/tests/fixtures/mocks.ts
  frontend/tests/store/gameStore.test.ts
  frontend/tests/utils/browserEdgeCases.test.ts
  frontend/tests/utils/testHelpers.ts
  frontend/vitest.config.ts
Due: none

frontend tests
  frontend/setupTests.ts
  frontend/tests/utils/performanceEdgeCases.test.tsx
  frontend/tests/utils/reactEdgeCases.test.tsx
  frontend/vitest.config.ts
Due: none
