Repository Tuee22/MCTS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-type-safety, black, mypy-strict, check-yaml

check-type-safety:
  name: Type Safety Check
  entry: poetry run check-type-safety
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

black:
  name: Black Code Formatting
  entry: poetry run black
  language: system
  args:
  - --check
  - --diff

mypy-strict:
  name: MyPy Strict Type Check
  entry: poetry run mypy
  language: system
  args:
  - --strict
  - .
  pass_filenames: false

check-yaml:
  name: Check YAML Syntax
  entry: check-yaml
  language: python

frontend tests
  frontend/package.json
  frontend/setupTests.ts
  frontend/src/components/GameSettings.tsx
  frontend/src/services/websocket.ts
  frontend/tests/services/websocket.test.ts
  frontend/tests/setup/basic.test.ts
  frontend/tests/setup/setupTests.ts
Due: none

added more frontend and e2e tests
  frontend/tests/components/App.recovery.test.tsx
  frontend/tests/components/App.test.tsx
  frontend/tests/components/GameSettings.connection.test.tsx
  frontend/tests/components/NewGameButton.test.tsx
  frontend/tests/services/websocket.enhanced.test.ts
  frontend/tests/store/gameStore.reset.test.ts
  frontend/tests/store/gameStore.resetChain.test.ts
  frontend/tests/store/gameStore.test.ts
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_network_interruptions.py
  tests/e2e/test_new_game_disconnection_bug.py
  tests/e2e/test_page_refresh_scenarios.py
  tests/e2e/test_race_conditions.py
Due: check-type-safety, black, mypy-strict

expanded e2e tests; investigating failures
  backend/api/api_types.py
  backend/api/server.py
  backend/api/websocket_manager.py
  frontend/setupTests.ts
  frontend/tests/components/App.recovery.test.tsx
  frontend/tests/components/App.test.tsx
  frontend/tests/components/GameSettings.connection.test.tsx
  frontend/tests/components/NewGameButton.test.tsx
  frontend/tests/services/websocket.enhanced.test.ts
  frontend/tests/store/gameStore.reset.test.ts
  frontend/tests/store/gameStore.resetChain.test.ts
  frontend/tests/store/gameStore.test.ts
  frontend/tests/utils/testHelpers.ts
  stubs/fastapi/__init__.pyi
  stubs/playwright/async_api.pyi
  tests/backend/api/test_websocket_advanced.py
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_game_creation_disconnection_bug.py
  tests/e2e/test_network_interruptions.py
  tests/e2e/test_new_game_disconnection_bug.py
  tests/e2e/test_page_refresh_scenarios.py
  tests/e2e/test_race_conditions.py
Due: check-type-safety, black, mypy-strict

fixing e2e tests
  backend/api/game_manager.py
  backend/api/models.py
  backend/api/server.py
  backend/api/websocket_manager.py
  frontend/src/store/gameStore.ts
  pytest.ini
  stubs/playwright/async_api.pyi
  tests/backend/api/test_websocket_advanced.py
  tests/e2e/async_fixtures.py
  tests/e2e/conftest.py
  tests/e2e/test_board_interactions.py
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_debug_ui.py
  tests/e2e/test_simple_board_test.py
  tests/e2e/test_working_connection.py
  tests/utils/run_unified_tests.py
Due: check-type-safety, black, mypy-strict

fixing e2e tests
  backend/api/server.py
  backend/api/websocket_models.py
  frontend/src/services/websocket.ts
  frontend/tests/services/websocket.test.ts
  tests/e2e/test_board_interactions.py
Due: check-type-safety, black, mypy-strict

going to refactor the api
  frontend/src/App.tsx
  frontend/src/services/websocket.ts
  frontend/src/store/gameStore.ts
  frontend/tests/components/App.test.tsx
  frontend/tests/services/websocket.enhanced.test.ts
  frontend/tests/services/websocket.test.ts
  frontend/tests/store/gameStore.resetChain.test.ts
Due: none

refactor done, now fixing tests
  backend/api/server.py
  frontend/src/App.tsx
  frontend/src/components/GameSettings.tsx
  frontend/src/services/websocket.ts
  frontend/src/store/gameStore.ts
  tests/e2e/test_new_game_disconnection_bug.py
Due: check-type-safety, black, mypy-strict

still working on frontend tests
  frontend/src/services/websocket.ts
  frontend/tests/components/App.test.tsx
  frontend/tests/components/GameSettings.connection.test.tsx
  frontend/tests/components/GameSettings.test.tsx
  frontend/tests/services/websocket.test.ts
  tests/backend/test_api_integration.py
  tests/shared/api_test_helpers.py
  tests/shared/test_fixtures_factory.py
Due: check-type-safety, black, mypy-strict

refactors for backend and tests
  CLAUDE.md
  README.md
  REFACTOR_STATUS.md
  backend/api/README.md
  backend/api/game_manager.py
  backend/api/server.py
  backend/api/websocket_endpoint.py
  backend/api/websocket_unified.py
  backend/core/SConstruct
  backend/core/corridors_bindings.cpp
  backend/core/corridors_threaded_api.cpp
  backend/core/corridors_threaded_api.h
  backend/core/mcts_threaded.hpp
  backend/python/corridors/async_mcts.py
  backend/python/corridors/corridors_mcts.py
  build_cpp.py
  pyproject.toml
  stubs/corridors/_corridors_mcts.pyi
  test_async.py
  test_game_manager.py
  test_websocket.py
  tests/README.md
  tests/backend/core/test_core_integration.py
  tests/fixtures/data_seeder.py
  tests/integration/test_network_failures.py
  tests/mock_helpers.py
  tests/shared/api_test_helpers.py
  tests/shared/fixtures_factory.py
  tests/test_utilities/test_data_seeder.py
  tests/test_utilities/test_test_helpers.py
  tests/test_utilities/test_test_subsets.py
  tests/utils/helpers.py
  tests/utils/subset_runners.py
Due: check-type-safety, black, mypy-strict

disabled all hooks
  .claude/settings.json
Due: none

cleanup and build refactor
  backend/core/SConstruct
  backend/core/_corridors_mcts.cpp
  backend/core/boost_python_copy.h
  backend/core/boost_python_list.h
  backend/core/boost_python_utils.h
  backend/core/shallow_matrix.h
  backend/core/test.cpp
  backend/python/corridors/__init__.py
  docker/Dockerfile
  docker/docker-compose.yaml
  pytest.ini
  test_async.py
  test_game_manager.py
  test_websocket.py
  tests/e2e/conftest.py
  tests/e2e/test_connection_scenarios.py
  tests/e2e/test_connection_scenarios_fixed.py
  tests/e2e/test_network_failures.py
  tests/e2e/test_network_failures_fixed.py
  vitest.config.ts
Due: check-type-safety, black, mypy-strict, check-yaml

trying to stabilize build artefacts
  docker/docker-compose.yaml
Due: check-yaml

first attempt at fixing backend build (buggy)
  .dockerignore
  .gitignore
  backend/core/SConstruct
  backend/python/corridors/__init__.py
  docker/Dockerfile
  docker/docker-compose.yaml
Due: check-type-safety, black, mypy-strict, check-yaml

backend cleanup including build
  CLAUDE.md
  README.md
  backend/api/game_manager.py
  backend/api/models.py
  backend/api/server.py
  backend/python/corridors/__init__.py
  backend/python/corridors/__init__.pyi
  backend/python/corridors/async_mcts.py
  backend/python/corridors/corridors_mcts.py
  build_cpp.py
  docker/Dockerfile
  docker/docker-compose.yaml
  tests/benchmarks/test_benchmarks.py
  tests/conftest.py
Due: check-type-safety, black, mypy-strict, check-yaml

further cleanup backend
  .dockerignore
  .gitignore
  CLAUDE.md
  README.md
  REFACTOR_STATUS.md
  backend/BUILD_VALIDATION.md
  backend/core/SConstruct
  backend/core/_corridors_mcts.cpp
Due: none

major cleanup
  backend/api/__init__.py
  backend/api/game_manager.py
  backend/api/server.py
  backend/api/websocket_endpoint.py
  backend/api/websocket_manager.py
  backend/python/corridors/__init__.py
  backend/python/corridors/_corridors_mcts.pyi
  backend/python/corridors/async_mcts.py
  backend/python/corridors/corridors_mcts.py
  stubs/fastapi/__init__.pyi
  stubs/fastapi/responses.pyi
  tests/backend/api/test_websocket_advanced.py.bak2
  tests/backend/core/test_core_integration.py
  tests/backend/core/test_cpp_board_functions.py
  tests/backend/core/test_edge_cases.py
  tests/backend/core/test_performance.py
  tests/backend/core/test_python_functions.py
  tests/benchmarks/test_benchmarks.py
  tests/conftest.py
  tests/mock_helpers.py
Due: check-type-safety, black, mypy-strict

functional refactor of backend
  backend/api/server.py
  backend/python/corridors/__init__.py
  backend/python/corridors/async_mcts.py
  backend/python/corridors/corridors_mcts.py
Due: check-type-safety, black, mypy-strict

fixed some tests; rewrote test README.md
  frontend/tests/components/NewGameButton.test.tsx
  tests/README.md
  tests/README_TEST_COMMANDS.md
  tests/TEST_COVERAGE.md
  tests/backend/core/test_core_integration.py
  tests/backend/core/test_cpp_board_functions.py
  tests/backend/core/test_edge_cases.py
  tests/backend/core/test_performance.py
  tests/backend/core/test_python_functions.py
  tests/conftest.py
Due: check-type-safety, black, mypy-strict

refactored test suite to be purely async
  backend/python/corridors/corridors_mcts.py
  tests/backend/api/conftest.py
  tests/backend/core/test_core_integration.py
  tests/backend/core/test_cpp_board_functions.py
  tests/backend/core/test_edge_cases.py
  tests/backend/core/test_performance.py
  tests/backend/core/test_python_functions.py
  tests/mock_helpers.py
Due: check-type-safety, black, mypy-strict

fixing tests
  backend/api/game_manager.py
  backend/python/corridors/__init__.py
  backend/python/corridors/async_mcts.py
  tests/backend/api/conftest.py
  tests/backend/core/test_core_integration.py
  tests/backend/core/test_cpp_board_functions.py
  tests/backend/core/test_edge_cases.py
  tests/backend/core/test_performance.py
  tests/backend/core/test_python_functions.py
  tests/benchmarks/test_benchmarks.py
  tests/conftest.py
  tools/debug/debug_actions_after_move.py
  tools/debug/debug_board_state.py
  tools/debug/debug_cpp_terminal.py
  tools/debug/debug_deep_terminal.py
  tools/debug/debug_evaluation.py
  tools/debug/debug_no_flip.py
  tools/debug/debug_positional_only.py
  tools/debug/debug_root_visits.py
  tools/debug/debug_terminal.py
  tools/debug/debug_visits.py
Due: check-type-safety, black, mypy-strict

removed missing imports
  tests/backend/api/test_error_paths.py
  tests/backend/api/test_models.py
  tests/backend/api/test_websocket_advanced.py
  tests/backend/core/test_core_integration.py
  tests/backend/core/test_cpp_board_functions.py
  tests/backend/core/test_edge_cases.py
  tests/backend/core/test_performance.py
  tests/backend/core/test_python_functions.py
  tests/conftest.py
  tools/debug/debug_actions_after_move.py
  tools/debug/debug_board_state.py
  tools/debug/debug_cpp_terminal.py
  tools/debug/debug_deep_terminal.py
  tools/debug/debug_evaluation.py
  tools/debug/debug_no_flip.py
  tools/debug/debug_positional_only.py
  tools/debug/debug_root_visits.py
  tools/debug/debug_terminal.py
  tools/debug/debug_visits.py
Due: check-type-safety, black, mypy-strict

removed debug folder
  tools/debug/README.md
  tools/debug/debug_actions_after_move.py
  tools/debug/debug_board_state.py
  tools/debug/debug_cpp_terminal.py
  tools/debug/debug_deep_terminal.py
  tools/debug/debug_evaluation.py
  tools/debug/debug_no_flip.py
  tools/debug/debug_positional_only.py
  tools/debug/debug_root_visits.py
  tools/debug/debug_terminal.py
  tools/debug/debug_visits.py
Due: check-type-safety, black, mypy-strict

corrected build dependencies
  backend/api/server.py
  backend/core/SConstruct
  backend/python/corridors/__init__.py
  docker/Dockerfile
  docker/docker-compose.yaml
  frontend/tests/components/GameSettings.connection.test.tsx
  tests/backend/api/conftest.py
  tests/e2e/test_board_interactions.py
  tests/mock_helpers.py
Due: check-type-safety, black, mypy-strict, check-yaml

correction to build dependencies
  docker/Dockerfile
  tests/e2e/async_fixtures.py
  tests/utils/run_unified_tests.py
Due: check-type-safety, black, mypy-strict

corrected dependencies; renamed python3 to python
  .claude/README.md
  .claude/hooks/cleanup-temp-files.py
  .claude/hooks/debug-git-guard.py
  .claude/hooks/doc-check-hook.py
  .claude/hooks/doc-checker.py
  .claude/hooks/git-commit-guard.py
  .claude/hooks/quality-gate.py
  .claude/hooks/test-enhanced-git-guard.py
  .claude/hooks/test-git-guard.py
  .claude/hooks/test-guard.py
  .claude/settings.json
  README.md
  backend/BUILD_VALIDATION.md
  backend/core/SConstruct
  docker/Dockerfile
  tests/utils/run_all_tests.py
  tests/utils/run_complete_test_suite.py
  tests/utils/run_e2e_tests.py
  tests/utils/run_e2e_with_servers.py
  tests/utils/run_frontend_tests.py
  tests/utils/run_tests.py
  tests/utils/run_unified_tests.py
  tools/check_type_safety.py
  tools/setup_playwright.py
Due: check-type-safety, black, mypy-strict

Dockerfile correction
  docker/Dockerfile
Due: none

corrected vitest import
  frontend/package.json
  frontend/vitest.config.mjs
  frontend/vitest.config.ts
  tests/backend/core/test_cpp_board_functions.py
  tests/backend/core/test_edge_cases.py
  tests/backend/core/test_performance.py
  tests/benchmarks/test_benchmarks.py
Due: check-type-safety, black, mypy-strict

corrected overly aggressive concurrency protection
  backend/api/game_manager.py
  backend/python/corridors/async_mcts.py
  frontend/vitest.config.mjs
  tests/conftest.py
Due: check-type-safety, black, mypy-strict

correcting integration tests
  backend/api/websocket_unified.py
  frontend/vitest.config.mjs
Due: check-type-safety, black, mypy-strict

correcting frontend tests
  frontend/src/store/gameStore.ts
  frontend/tests/components/App.recovery.test.tsx
  frontend/tests/components/NewGameButton.test.tsx
  frontend/tests/services/websocket.enhanced.test.ts
  frontend/tests/store/gameStore.reset.test.ts
  frontend/tests/store/gameStore.resetChain.test.ts
  frontend/tests/store/gameStore.test.ts
  frontend/tests/utils/performanceEdgeCases.test.tsx
  frontend/vitest.config.mjs
  frontend/vitest.config.ts
Due: none

ensuring tests fail loudly
  frontend/package.json
  frontend/vitest.config.mjs
  tests/e2e/conftest.py
  tests/e2e/test_browser_compatibility.py
  tests/e2e/test_complete_gameplay.py
  tests/test_utilities/test_run_unified_tests.py
  tests/utils/run_e2e_with_servers.py
  tests/utils/run_unified_tests.py
  tests/utils/stability_helpers.py
  tests/utils/test_audit.py
Due: check-type-safety, black, mypy-strict

created proper interrupt behaviour for e2e tests
  stubs/psutil.pyi
  tests/test_utilities/test_run_unified_tests.py
  tests/utils/run_unified_tests.py
Due: check-type-safety, black, mypy-strict

corrected e2e tests to not use is_mobile=true for firefox
  stubs/playwright/async_api.pyi
  tests/e2e/async_fixtures.py
Due: check-type-safety, black, mypy-strict

added new tests; refactored game manager to be more functional
  backend/api/api_types.py
  backend/api/game_manager.py
  backend/api/game_states.py
  backend/api/game_transitions.py
  backend/api/models.py
  backend/api/pure_utils.py
  backend/api/response_builders.py
  backend/api/server.py
  backend/api/websocket_endpoint.py
  backend/api/websocket_manager.py
  frontend/src/App.tsx
  frontend/src/components/GameBoard.tsx
  frontend/src/components/GameSettings.tsx
  frontend/src/components/GameSettingsPanel.tsx
  frontend/src/utils/aiConfig.ts
  frontend/src/utils/settingsVisibility.ts
  frontend/tests/components/App.state.test.tsx
  frontend/tests/components/GameSettings.visibility.test.tsx
  frontend/tests/components/NewGameButton.flow.test.tsx
  frontend/tests/services/websocket.connection.test.ts
  frontend/tests/store/gameStore.persistence.test.ts
  stubs/fastapi/__init__.pyi
  stubs/unittest/mock.pyi
  stubs/websockets/__init__.pyi
  stubs/websockets/client.pyi
  tests/backend/api/test_models.py
  tests/backend/test_api_integration.py
  tests/integration/test_connection_flow.py
  tests/integration/test_state_sync.py
  tests/types.py
Due: check-type-safety, black, mypy-strict

fixing frontend tests
  frontend/setupTests.ts
  frontend/src/App.tsx
  frontend/src/components/NewGameButton.tsx
  frontend/src/services/websocket.ts
  frontend/src/store/gameStore.ts
  frontend/tests/components/App.state.test.tsx
  frontend/tests/components/App.test.tsx
  frontend/tests/components/GameBoard.test.tsx
  frontend/tests/components/GameSettings.visibility.test.tsx
  frontend/tests/components/NewGameButton.flow.test.tsx
  frontend/tests/services/websocket.connection.test.ts
  frontend/tests/setup/basic.test.ts
  frontend/tests/store/gameStore.persistence.test.ts
  frontend/tests/store/gameStore.resetChain.test.ts
  frontend/vitest.config.mjs
Due: none

expanded tests
  backend/api/cleanup_config.py
  backend/api/game_manager.py
  backend/api/game_states.py
  backend/api/game_transitions.py
  backend/api/pure_utils.py
  backend/api/server.py
  stubs/requests.pyi
  stubs/unittest/mock.pyi
  tests/backend/api/test_cleanup_functionality.py
  tests/backend/api/test_cleanup_logic.py
  tests/backend/api/test_game_activity.py
  tests/backend/api/test_game_state_transitions.py
  tests/e2e/MIGRATION_GUIDE.md
  tests/e2e/MIGRATION_STATUS.md
  tests/e2e/async_fixtures.py
  tests/e2e/conftest.py
  tests/e2e/migrate_tests.py
  tests/e2e/test_browser_navigation.py
  tests/e2e/test_cleanup_behavior.py
  tests/e2e/test_complete_gameplay.py
  tests/e2e/test_connection_scenarios.py
  tests/e2e/test_connection_scenarios.py.backup
  tests/e2e/test_cross_browser_demo.py
  tests/e2e/test_game_creation_disconnection_bug.py
  tests/e2e/test_network_failures.py
  tests/e2e/test_network_interruptions.py
  tests/e2e/test_new_game_disconnection_bug.py
  tests/e2e/test_page_refresh_scenarios.py
  tests/e2e/test_race_conditions.py
  tests/e2e/test_working_connection.py
Due: check-type-safety, black, mypy-strict

added new tests
  tests/backend/api/test_button_state_logic.py
  tests/backend/api/test_game_state_transitions.py
  tests/backend/api/test_navigation_state_preservation.py
  tests/backend/api/test_websocket_state_sync.py
Due: check-type-safety, black, mypy-strict

fixed mypy errors
  backend/api/websocket_manager.py
  stubs/fastapi/testclient.pyi
  stubs/starlette/responses.pyi
  stubs/unittest/mock.pyi
  tests/backend/api/test_game_state_transitions.py
  tests/backend/api/test_websocket_state_sync.py
Due: check-type-safety, black, mypy-strict

fixed mypy errors
  stubs/unittest/mock.pyi
  tests/backend/api/test_cleanup_functionality.py
  tests/backend/api/test_cleanup_logic.py
  tests/backend/api/test_game_activity.py
Due: check-type-safety, black, mypy-strict

fixed mypy errors
  stubs/fastapi/testclient.pyi
  stubs/starlette/responses.pyi
  tests/backend/api/test_button_state_logic.py
  tests/backend/api/test_connection_states.py
  tests/backend/api/test_game_state_transitions.py
  tests/backend/api/test_navigation_state_preservation.py
  tests/backend/api/test_race_conditions.py
  tests/backend/api/test_websocket_state_sync.py
Due: check-type-safety, black, mypy-strict

Path conditions:
  check-type-safety: any of: \.py$
  black: any of: \.py$
  mypy-strict: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
